$dark-green-color: #098F2B;
$green-color: #31BB67;
$black-color: #333333;
$medium-black-color: #495057;
$light-black-color: #434343;
$subtitle-black-color: #858585;
$red-color: #F95E5E;
$white-color: #FFFFFF;
$light-grey-color: #F6F6F6;
$dark-grey-color: #E7E7E7;
$yellow-color: #FFDA44;
:root {
  --dark-green-color: #098F2B;
  --green-color: #31BB67;
  --black-color: #333333;
  --medium-black-color: #495057;
  --light-black-color: #434343;
  --subtitle-black-color: #5A5A5A;
  --placeholder-color: #6c757d;
  --red-color: #F95E5E;
  --white-color: #FFFFFF;
  --light-grey-color: #F6F6F6;
  --dark-grey-color: #D7D7D7;
  --yellow-color: #FFDA44;
  --test-user-color: #FFFF7A;
  --light-green-color: #EAF8F0;
}
